:root {
  --h-orangeredTheme-color: orangered;
  --bg-darkTheme-color: #343a40;
  --bg-lighterDarkTheme-color: #4b4d4e;
  --text-darkTheme-color: #fff;
}

html {
  width: 100%;
}

* {
  outline: none;
  outline-offset: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-lighterDarkTheme-color);
  width: 100%;
}

.App {
  width: 100%;
}
